.vs/
/SunriseHotel/obj/Debug/SunriseHotel.csproj.AssemblyReference.cache
/SunriseHotel/obj/Debug/SunriseHotel.csproj.CoreCompileInputs.cache
/SunriseHotel/obj/Debug/SunriseHotel.csproj.FileListAbsolute.txt
